beautifulsoup4==4.12.2
EbookLib==0.17.1
imaginepy==2.0.1
langchain
llama_index
openai==0.27.6
pydantic
PyPDF2==3.0.1
pytube==12.1.2
streamlit==1.25.0
streamlit_option_menu==0.3.2
youtube_transcript_api==0.5.0
faiss-cpu
httpx
nltk==3.8.1
pydub==0.25.1
ffmpeg-python
audio_recorder_streamlit
pypdf2
tiktoken
chromadb